@import "mix";

.about {
  .wrapper {
    padding: 10px 20px;

    @include breakpoint(tablet-desktop) {
      display: flex;
      align-items: center;
      padding: 200px 20px;
      max-width: 700px;
      margin: 0 auto;
      width: 100%;

      @include breakpoint(desktop) {
        max-width: 750px;
      }

      @include breakpoint(desktop-large) {
        max-width: 800px;
      }
    }
    .title {
      max-width: 220px;
    }
    .gif {
      max-width: 120px;
      width: 100%;

      @include breakpoint(tablet-desktop) {
        max-width: 330px;
      }
    }
    h1 {
      font-family: 'Raleway';
      font-size: 1.2em;
      text-align: left;
      letter-spacing: .12em;
      font-weight: 100;
      margin: 0;
      @include breakpoint(tablet-desktop) {
        padding-left: 60px;
      }
    }
    p {
      font-family: "Roboto Mono";
      font-size: .675em;
      letter-spacing: .09em;
      line-height: 1.75em;
      text-align: left;
      margin-top: 5px;
      @include breakpoint(tablet-desktop) {
        padding-left: 60px;
      }
    }
  }
}
