@import "mix";

.upallnight {

  .wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .gif {
    width: 30%;

    img {
      width: 100%;
    }
    @include breakpoint(tablet-desktop) {
      width: 20%;
    }
    @include breakpoint(desktop) {
      width: 15%;
    }
  }

  .smoke-left {
    background: url('../images/smoke-left.png') no-repeat;
    background-size: 100%;
    position: relative;
    z-index: 999;
    height: 200px;
    width: 20%;

    @include breakpoint(desktop) {
      height: 300px;
    }

    @include breakpoint(desktop-large) {
      height: 400px;
    }
  }

  .smoke-right {
    background: url('../images/smoke-right.png') no-repeat;
    background-size: 100%;
    background-position: right;
    position: relative;
    z-index: 999;
    height: 200px;
    width: 20%;

    @include breakpoint(desktop) {
      height: 300px;
    }

    @include breakpoint(desktop-large) {
      height: 400px;
    }
  }
}
