@import "mix";

nav {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  right: 5%;
  width: auto;

  @include breakpoint(tablet-desktop) {
    top: 35%;
  }

  h1, a {
    font-family: 'Raleway';
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: .425em;
    padding-left: 25px;
  }

  h1 {
    margin: 0 0 35px 0;
    font-size: 1em;
  }

  a {
    font-size: .575em;
    cursor: pointer;
  }
}

.banner {
  p {
    color: #22e439;
    font-family: 'Roboto Mono';
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .425em;
    font-size: .525em;
    position: absolute;
    top: 102%;
    left: -30px;
    transform: rotate(-90deg);

    span {
      margin-right: 30px;
    }
  }
}
