@import "mix";

.no-js #preload { display: none;  }
#preload {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 60px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(220, 183, 255, 1);
  color: #fff;
  font-size: 1em;
  z-index: 99999999;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: aquamarine;
  }
}

body {
  text-align: center;
  margin: 0;
  position: relative;
  height: 100%;
  overflow-x: hidden;

  @include breakpoint(tablet-desktop) {
    border:2px solid red;
  }

  @include breakpoint(desktop) {
    border: 2px solid green;
  }

  @include breakpoint(desktop-large) {
    border: 2px solid blue;
  }
}

section {
  width: 100%;

  .content {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;

    .wrapper {
      margin: 0 auto;
    }
  }

  &.banner {
    background: url('../images/da-space-bg.png') no-repeat fixed;
    background-size: cover;
    background-attachment: scroll;
    background-position: top center;

    .wrapper {
      width: 100%;
      height: 100%;
      position: relative;
    }

    .scroll-to {
      cursor: pointer;
      position: absolute;
      bottom: 60px;
      left: 0;
      right: 0;
      margin: 0 auto;
      max-width: 40px;
    }
  }

  &.time-space-love {
    background: url('../images/love-bg.png') no-repeat top left fixed;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
    z-index: -999;
    margin-top: -30%;
    .wrapper {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }

    @include breakpoint(tablet-desktop) {
      margin-top: -20%;
    }

    @include breakpoint(desktop) {
      margin-top: 0;
    }
  }

  &.work-section {
    background: url('../images/3.png') no-repeat bottom center fixed;
    background-size: cover;
    background-attachment: scroll;
    margin-top: -20%;

    @include breakpoint(tablet-desktop) {
      margin-top: -20%;

      .wrapper {
        margin-top: 20%;
      }
    }

    @include breakpoint(desktop) {
      margin-top: -8%;

      .wrapper {
        margin-top: 5%;
      }
    }

    @include breakpoint(desktop-large) {
      margin-top: 0;

      .content {
        margin-top: 0;
      }
    }
    .wrapper {
      width: 100%;
    }
  }

  &.four {
    background: url('../images/4.png') no-repeat bottom center;
    background-size: cover;
    position: relative;
    margin-top: -20%;
    z-index: -999;
    @include breakpoint(tablet-desktop) {
      margin-top: -10%;
    }
    .parallax {
      position: absolute;
      color: #fff;
      top: 0;
      margin: 150px auto 0 auto;
      left: 0;
      right: 0;
      z-index: 999999;
    }

    img {
      width: 40%;
      @include breakpoint(tablet-desktop) {
        width: 20%;
        margin-top: 50px;
      }
    }
  }

  &.five {
    margin-top: 20px;
  }

  &.upallnight {
    background: url('../images/5.png') no-repeat top left fixed;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
    z-index: 999;
  }

  &.seven {
    background: url('../images/6.jpg') no-repeat top left fixed;
    background-size: cover;
    margin-top: -20%;
    z-index: -999;

    .content {
      padding-top: 20%;
    }
  }
}
