@import "mix";

.no-js #preload { display: none;  }
#preload {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 60px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(220, 183, 255, 1);
  color: #fff;
  font-size: 1em;
  z-index: 99999999;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: aquamarine;
  }
}

body {
  background: transparent;
  text-align: center;
  margin: 0;
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

section {
  width: 100%;

  .content {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;

    .wrapper {
      margin: 0 auto;
    }
  }

  &.dog {
    background: url('../images/4.png') no-repeat bottom center;
    background-size: cover;
    position: relative;
    z-index: -999999;
    margin-top: -10%;

    .parallax {
      position: absolute;
      color: #fff;
      top: 0;
      margin: 150px auto 0 auto;
      left: 0;
      right: 0;
      z-index: 999999;
    }

    img {
      width: 40%;
      @include breakpoint(tablet-desktop) {
        width: 20%;
        margin-top: 50px;
      }
    }
  }

  &.upallnight {
    background-color: transparent;
    background: url('../images/5.png') no-repeat center center;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
    z-index: 999;
  }
}
