@import "mix";

.time-space-love {

  .parallax {
    position: absolute;
    color: #fff;
    top: 0;
    z-index: 999999;

    &.alien {
      left: 52%;
      width: 30px;
      margin-top: 230px;

      img {
        width: 30px;
      }
    }


    &.quote {
      left: 0;
      right: 0;
      margin: -100px auto 0 auto;
      width: 150px;

      img {
        width: 150px;
      }
    }

    &.weed-green {
      right: 70px;
      margin-top: 80px;
      width: 150px;

      img {
        width: 150px;
      }
    }

    &.weed-blue {
      left: 70px;
      width: 130px;
      margin-top: 90px;
      img {
        width: 130px;
      }
    }

    &.yinyang {
      left: 220px;
      width: 60px;
      margin-top: -250px;
      img {
        width: 60px;
      }
    }
  }

  .counters {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    padding: 0 80px;
    width: 100%;
    top: 75%;

    li {
      span {
        font-family: 'Roboto Mono';
        font-weight: 400;
        font-size: .625em;
      }

      img {
        width: 40px;
        margin-right: 5px;
      }
    }
  }
}
