@import "mix";

#love {

  .wrapper {
    position: relative;
    overflow: hidden;
    border: 2px solid red;
    width: 100%;
    height: 100%;
  }

  .parallax {
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    background-size: contain;
    z-index: 999;
    &.quote {
      height: 231px;
      width: 267px;
      top: 100px;
      right: 0;
      left: 0;
      margin: 0 auto;
      background-image: url('../images/love-quote.png');
    }
  }
}
