@import "mix";
.work-section {
  background: url('../images/3.png') no-repeat bottom center fixed;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
  margin-top: -25%;

  @media only screen and (min-width: 600px) {
    margin-top: -10%;
  }

  @media only screen and (min-width: 1200px) {
    margin-top: -5%;
  }

  .title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 85px;
    @media only screen and (min-width: 760px) {
      padding-top: 30px;
    }
  }

  .wrapper {
    padding: 0 20px;
    position: relative;
    text-align: center;
    width: 100%;
  }

  .arrow {
    cursor: pointer;
    position: absolute;
    top: 55%;
    transform: translateY(-40%);
    z-index: 99999;
    width: 8px;
    @include breakpoint(tablet-desktop) {
      top: 40%;
      width: 20px;
    }

    @include breakpoint(desktop) {
      top: 50%;
    }

    &.left {
      left: 15px;

      @include breakpoint(tablet-desktop) {
        left: 40px;
      }
    }

    &.right {
      right: 15px;

      @include breakpoint(tablet-desktop) {
        right: 40px;
      }
    }

    img {
      width: 100%;
    }
  }
}

.work-slider {
  position: relative;
  padding: 0;
  list-style: none;
  overflow: hidden;
  margin: -100px auto 0 auto;
  z-index: 10;

  .slide-container {
    position: relative;
    padding: 0;
    list-style: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 90px auto 0 auto;
    z-index: 12;

    li.slide {
      position: relative;
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      text-align: center;
      min-width: 275px;

      @include breakpoint(tablet-desktop) {
        min-width: 700px;

        &.vertical {
          img {
            max-width: 400px;
          }
        }
      }

      img {
        width: 100%;
      }
    }
  }
}
