@import "mix";

.work-slider {
  width: 100%;
  position: relative;

  .arrow {
    position: absolute;;
    top: 50%;
    transform: translateY(-50%);

    &.left {
      left: 20px;
    }

    &.right {
      right: 20px;
    }
  }

  .slide {
    max-width: 700px;
    margin: 0 auto;

    img {
      width: 60%;
      @include breakpoint(tablet-desktop) {
        width: 100%;
      }
    }
  }
}
