<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <title><%= current_page.data.title || "Project Site" %></title>
  <%= stylesheet_link_tag "application" %>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
</head>

<body class="<%= page_classes %>">
  <div id="preload">LOOOOOAADDDINNNNNGGG</div>
  <%= yield %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="javascripts/vendor/zepto.js"></script>
  <script src="javascripts/vendor/velocity.js"></script>
  <script src="javascripts/scroll.js"></script>
  <script>$(function($){ Site.initialize(); });</script>
</body>
</html>
