<section class="banner size">
  <div class="content">
    <div class="wrapper">
      <nav>
        <h1>DVNNY</h1>
        <a data-behavior="scroll-to" data-id="#work">work</a>
        <a data-behavior="scroll-to" data-id="#about">vbout</a>
        <a data-behavior="scroll-to" data-id="#contact">contvct</a>
      </nav>
      <img class="scroll-to" data-behavior="scroll-to" data-id="#love" src="images/header-down-arrow.png"/>
      <p><span>RYL</span>LV. 0016</p>
    </div>
  </div>
</section>


<section id="love" class="time-space-love size">
  <div class="content">
    <div class="wrapper">
      <div class="parallax alien" data-type="position" data-speed="2">
        <img src="images/love-alien.png">
      </div>

      <div class="parallax yinyang" data-type="position" data-speed="5">
        <img src="images/love-yinyang.png">
      </div>

      <div class="parallax quote" data-type="position" data-speed="4">
        <img src="images/love-quote.png">
      </div>

      <div class="parallax weed-blue" data-type="position" data-speed="5">
        <img src="images/love-weed-blue.png">
      </div>

      <div class="parallax weed-green" data-type="position" data-speed="3">
        <img src="images/love-weed-green.png">
      </div>

      <ul class="counters">
        <li><img src="images/love-time.png"><span id="timer"></span></li>
        <li><img src="images/love-distance.png"><span id="distance"></span></li>
        <li><img src="images/love-hours.png"><span id="hours"></span></li>
      </ul>
    </div>
  </div>
</section>


<section id="work" class="work-section size">
  <div class="content">
    <div class="wrapper">
      <img class="title" src="images/work-title.png">
      <a class="arrow left"><img src="images/work-prev.png"></a>
      <a class="arrow right"><img src="images/work-next.png"></a>
      <div class="work-slider">
        <ul class="slide-container">
          <li class="slide">
            <img src="images/gradient-4.png">
          </li>
          <li class="slide">
            <img src="images/gradient-1.png">
          </li>
          <li class="slide">
            <img src="images/gradient-2.png">
          </li>
          <li class="slide">
            <img src="images/gradient-3.png">
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


<section class="four size">
  <div class="content">
    <div class="wrapper">
      <div class="parallax" data-type="position" data-speed="4">
        <img src="images/dog.png">
      </div>
    </div>
  </div>
</section>
<section id="about" class="five about">
  <div class="content">
    <div class="wrapper">
      <img src="images/dvnny.gif">
      <div class="about-dvnny">
        <p>was born and raised in New York City. Growing up in a metropolis covered
          in graffiti and full of creativity is something that continues to influence
          his practice. Danny is also an avid skateboarder and consistently finding
          creative ways to explore the unique geography of NYC is characteristic of the
          way Danny approaches his work.</p>

          <p>His ideas are free form and he works outside of preconceived notions.
          Process informs practice and Danny often covers all traces of previous
          layers as he progresses in his works. His techniques are varied and his art
          utilizes all kinds of materials including acrylic paint, metal, markers, spray
          paint and various other mixed media. His tight lines are characteristic of a sharp
          focus and commitment to an aesthetic that is his own.</p>

          <p>He also utilizes signs and symbols that carry meanings that are personal but
          that when viewed by an outsider have the potential to become universal. At times
          he even works outside of this visual language in an effort to further refine and
          develop his style.</p>
      </div>
    </div>
  </div>
</section>
<section class="six size">
  <div class="content">
    <div class="wrapper">
      <p>up all night</p>
    </div>
  </div>
</section>
<section id="contact" class="seven size contact">
  <div class="content">
    <div class="wrapper">
      <img src="images/contact-header.png">
    </div>
  </div>
</section>
