<section class="one size">
  <div class="content">
    <div class="wrapper">
        <img class="scroll-to" data-behavior="scroll-to-two" src="images/header-down-arrow.png"/>
    </div>
  </div>
</section>
<section class="two size">
  <div class="content">
    <div class="wrapper">
      <p>content</p>
    </div>
  </div>
</section>
<section class="three size">
  <div class="content">
    <div class="wrapper">
      <p>content</p>
    </div>
  </div>
</section>
<section class="four">
  <div class="content">
    <div class="wrapper">
      <p>content</p>
    </div>
  </div>
</section>
<section class="five">
  <div class="content">
    <div class="wrapper">
      <p>content</p>
    </div>
  </div>
</section>
