<section class="one size">
  <div class="content">
    <div class="wrapper">
      <nav>
        <h1>DVNNY</h1>
        <a href="#">work</a>
        <a href="#">vbout</a>
        <a href="#">contvct</a>
      </nav>
      <img class="scroll-to" data-behavior="scroll-to-two" src="images/header-down-arrow.png"/>
    </div>
  </div>
</section>
<section class="two size">
  <div class="content">
    <div class="wrapper">
      <img class="icon blue" src="images/love-weed-blue.png"/>
      <img class="icon green" src="images/love-weed-green.png"/>
      <img class="icon yin" src="images/love-yinyang.png"/>
      <img class="quote" src="images/love-quote.png"/>
      <img class="icon alien" src="images/love-alien.png"/>
    </div>
  </div>
</section>
<section class="three size">
  <div class="content">
    <div class="wrapper">
      <img class="title" src="images/work-title.png">
      <div class="work-slider">
        <a class="arrow left"><img src="images/work-prev.png"></a>
        <div class="slide">
          <img src="images/work-example.png">
        </div>
        <a class="arrow right"><img src="images/work-next.png"></a>
      </div>
    </div>
  </div>
</section>
<section class="four">
  <div class="content">
    <div class="wrapper">
      <img src="images/dog.png">
    </div>
  </div>
</section>
<section class="five about">
  <div class="content">
    <div class="wrapper">
      <img src="images/danny.png">
      <div class="about-dvnny">
        <p>was born and raised in New York City. Growing up in a metropolis covered
          in graffiti and full of creativity is something that continues to influence
          his practice. Danny is also an avid skateboarder and consistently finding
          creative ways to explore the unique geography of NYC is characteristic of the
          way Danny approaches his work.</p>

          <p>His ideas are free form and he works outside of preconceived notions.
          Process informs practice and Danny often covers all traces of previous
          layers as he progresses in his works. His techniques are varied and his art
          utilizes all kinds of materials including acrylic paint, metal, markers, spray
          paint and various other mixed media. His tight lines are characteristic of a sharp
          focus and commitment to an aesthetic that is his own.</p>

          <p>He also utilizes signs and symbols that carry meanings that are personal but
          that when viewed by an outsider have the potential to become universal. At times
          he even works outside of this visual language in an effort to further refine and
          develop his style.</p>
      </div>
    </div>
  </div>
</section>
<section class="six size">
  <div class="content">
    <div class="wrapper">
      <p>up all night</p>
    </div>
  </div>
</section>
<section class="seven size contact">
  <div class="content">
    <div class="wrapper">
      <img src="images/contact-header.png">
    </div>
  </div>
</section>
