<section class="one">
  <div class="content">
    <div class="wrapper">
      <p>content</p>
      <button data-behavior="scroll-to-two"> down</button>
    </div>
  </div>
</section>
<section class="two">
  <div class="content">
    <div class="wrapper">
      <p>content</p>
    </div>
  </div>
</section>
<section class="three">
  <div class="content">
    <div class="wrapper">
      <p>content</p>
    </div>
  </div>
</section>
<section class="four">
  <div class="content">
    <div class="wrapper">
      <p>content</p>
    </div>
  </div>
</section>
<section class="five">
  <div class="content">
    <div class="wrapper">
      <p>content</p>
    </div>
  </div>
</section>
